<% include ../partials/header %>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="img-thumbnail">
                    <img class="img-fluid" src="<%= photo.image%>">
                    <div class="caption-full">
                        <h4><a><%= photo.title%></a></h4>
                        <p><%= photo.description %></p>
                        <p class="float-right">Photoed by: <%= photo.date %></p>
                        <p><em>Submitted By <strong><%= photo.author.username %></strong></em>,
                            <%= moment(photo.createAt).fromNow() %>
                        </p>
                        <% if(currentUser && photo.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                            <a class="btn btn-warning" href="/photos/<%= photo._id%>/edit">Edit</a>
                            <form class="d-inline" action="/photos/<%= photo._id%>?_method=DELETE" method="POST">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        <% } %>
                    </div>
                </div>
                
                <div class="card card-body bg-light">
                    <div class="text-right">
                        <a class="btn btn-success" href="/photos/<%= photo._id%>/comments/new">Add A New Comment</a>
                    </div>
                    <hr>
                    <% photo.comments.forEach(function(comments){ %>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <u><strong><%= comments.author.username %></strong></u>
                                        <span class="float-right"><%= moment(comments.createAt).fromNow() %></span>
                                        <p class="m-0"><%= comments.text %></p>
                                        <% if(currentUser && comments.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                                            <a class="btn btn-sm btn-warning" href="/photos/<%= photo._id%>/comments/<%= comments._id%>/edit" >Edit</a>
                                            <form class="d-inline" action="/photos/<%= photo._id%>/comments/<%= comments._id%>?_method=DELETE" method="POST">
                                                <button class="btn btn-sm btn-danger">Delete</button>
                                            </form>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
    
    
    

<% include ../partials/footer %>